* {
    scrollbar-width: none; /* Hide scrollbar on Firefox */
}

/* Hide scrollbar on webkit-based browsers */
*::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* Optional: Add this to remove any possible space taken by the scrollbar */
*::-webkit-scrollbar-thumb {
    display: none;
}


.range-progress > .vue3-slider.circular > svg > circle:nth-child(2) {
    stroke: var(--range-background-color) !important;
}

.range-progress > .vue3-slider > .track
{
    background: var(--range-background-color) !important;
}

.range-progress > .vue3-slider > .track-filled {
    background: transparent !important
}

.range-progress > .vue3-slider > .handle,
.range-progress > .vue3-slider.circular > .handle-container > .handle
{
    background: #FFF !important;
    width: 10px !important;
    height: 10px !important;
    transform: scale(100%) !important;
    transform: translateY(-1.5px) !important;
    border-radius: 50% !important;
    margin-top: 0px !important;
}

.range-progress > .vue3-slider.circular > .handle-container:nth-child(2) > .handle {
    display: none !important;
}
