@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-text-color: #FFF;
    --secondary-text-color: #A19Eb7;
    --tertiary-text-color: #EBEBF5;


    --primary-gradient : linear-gradient(68deg, #2e335a 0%, #1c1b33 100%);
    --secondary-gradient : linear-gradient(68deg, #5936b4 0%, #362a84 100%);
    --gradient-angle: 360deg

    --light-shadow : #48319D;
    --dark-shadow : #1F1D47;

    --range-background-color : linear-gradient(68deg, #3659b1 0%, #b058e4 50%, #e64497 100%);
    
}