@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-text-color: #FFF;
    --secondary-text-color: #A19Eb7;
    --tertiary-text-color: #EBEBF5;


    --primary-gradient : linear-gradient(68deg, rgba(46,51,90,1) 0%, rgba(28,27,51,1) 100%);
    --secondary-gradient : linear-gradient(68deg, rgba(89,54,180,1) 0%, rgba(54,42,132,1) 100%);
    --gradient-angle: 360deg

    --light-shadow : #48319D;
    --dark-shadow : #1F1D47;

    --range-background-color : linear-gradient(68deg, rgba(54,89,177,1) 0%, rgba(176,88,228,1) 50%, rgba(230,68,151,1) 100%);
    
}